.webcam-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.webcam-container > .print-image {
    width: 100%;
    max-width: 480px;
}

.overlay-image {
    width: 15%;
    position: absolute;
    z-index: 2;
    opacity: 60%;
}

.btn-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    z-index: 3;
}