.webcam-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.webcam-container > .print-image {
    width: 100%;
}

.overlay-image {
    width: 15%;
    position: absolute;
    z-index: 1;
    opacity: 60%;
  }